[alias]
	s = status --short --branch
	ch = checkout
	df = diff --color --color-words --abbrev
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --

[core]
	# insanely beautiful diffs
	pager = diff-highlight | diff-so-fancy | less -r

[user]
	name = Morten Noddeland
	email = morten@noddeland.no
[credential]
	helper = osxkeychain
[color]
	ui = auto

[push]
	default = current

# So much color
[color]
	ui = always
[color "diff"]
	meta = yellow bold
	commit = green bold
	frag = magenta bold
	old = red bold
	new = green bold
	whitespace = red reverse
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green
[color "status"]
	added = green
	changed = red
	untracked = cyan
